@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  /* font color */
  --fc-headings: hsl(192, 100%, 9%);
  --fc-body: hsl(208, 11%, 55%);
  --fc-footer: hsl(193, 100%, 96%);
  /* bg colors */
  --bg-footer: hsl(192, 100%, 9%);
  --bg-header: hsl(193, 100%, 96%);
  --bg-sections: hsl(0, 0%, 100%);
  /* btn colors */
  --btn-bg-secondary: hsl(0, 0%, 100%);
  --btn-bg-primary: hsl(322, 100%, 66%);
  --btn-bg-primary-hover: hsl(322, 100%, 76%);
  --btn-text-primary: hsl(0, 0%, 100%);
  --btn-clr-shadow: hsla(240, 5%, 41%, 0.2);
  /* icon colors */
  --icon-clr-hover: hsl(322, 100%, 66%);
  /* fonts family */
  --ff-body: "Open Sans", sans-serif;
  --ff-headings: "Poppins", sans-serif;
  /* font weights */
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

body {
  font-family: var(--ff-body);
  font-weight: var(--fw-400);
  color: var(--fc-body);
  font-size: 1.1rem;
  line-height: 1.5;
}

/* general styling */
.img {
  display: block;
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 90rem;
  margin: 0 auto;
}

.container-shadow {
  box-shadow: var(--btn-clr-shadow) 0 0.4375rem 1.8125rem 0;
}

.grid-one-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 3em;
}

.grid-two-columns-hero {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: auto;
  gap: 2em;
  align-items: center;
}

.grid-two-columns-main {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto;
  gap: 3em;
  align-items: center;
}

.grid-three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 4rem;
}

.heading-primary {
  font-size: clamp(1.7rem, 2vw + 1rem, 2.5rem);
  color: var(--fc-headings);
  line-height: 1.5;
}

.heading-secondary {
  font-size: clamp(1.4rem, 0.9vw + 1rem, 1.7rem);
  color: var(--fc-headings);
  line-height: 1.5;
}

/* paddings */
.padding-small-top {
  padding-top: clamp(1rem, 5%, 3rem);
}

.padding-medium {
  padding-block: clamp(2rem, 10%, 4rem);
}

.inner-padding-sections {
  padding: 3rem 3rem 3rem clamp(1rem, 10%, 9rem);
}

/* buttons */
.btn {
  font-size: 0.9rem;
  font-family: var(--ff-headings);
  border: 0;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: var(--btn-clr-shadow) 0 0.4375rem 1.8125rem 0;
}

.btn--secondary {
  background-color: var(--btn-bg-secondary);
  color: var(--fc-headings);
}

.btn--secondary:hover,
.btn--secondary:focus-visible {
  color: var(--fc-body);
}

.btn--primary {
  background-color: var(--btn-bg-primary);
  color: var(--btn-text-primary);
}

.btn--primary:hover,
.btn--primary:focus-visible {
  background-color: var(--btn-bg-primary-hover);
}

.btn--small {
  padding: 0.7em 2.5em;
}

.btn--medium {
  padding: 1em 3.5em;
}

.btn--large {
  padding: 1.5em 4em;
  width: 80%;
  max-width: 20rem;
}

/* header */
.header {
  background-image: url(/images/bg-hero-desktop.svg);
  background-color: var(--bg-header);
}

.header__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 10rem;
}

/* hero */
.header__hero-wrapper {
  color: var(--fc-headings);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5em;
  max-width: 32rem;
}

/* main */
.main__features-section {
  position: relative;
  margin-bottom: 10rem;
}

.main__section-wrapper {
  border-radius: 1rem;
}

.main__section-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 30rem;
}

/* section two */
.grid-two-columns-main--section-two {
  grid-template-columns: 1fr 1.5fr;
}

.main__section-text-wrapper--reverse {
  order: 1;
  justify-self: end;
}

/* section four */
.main__section--wrapper-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  padding: 2em;

  background-color: var(--bg-sections);
  position: absolute;
  bottom: -12rem;
  left: 50%;
  transform: translate(-50%, 50%);
}

/* footer */
footer {
  background-color: var(--bg-footer);
  color: var(--fc-footer);
  padding: 8rem 2rem 2rem 2rem;
}

.footer__logo {
  filter: brightness(0) invert(1);
  margin-bottom: 2rem;
  width: 12rem;
}

.footer__contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__contact-info {
  display: flex;
  gap: 1em;
}

.footer__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  row-gap: 1rem;
  list-style: none;
}

.footer__link {
  color: var(--fc-footer);
  text-decoration: none;
  position: relative;
}

.footer__link:hover::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 100%;
  height: 0.1rem;
  top: 1.3rem;
  left: 0;
}

.footer__social-icons-wrapper {
  display: flex;
  gap: 1rem;
  align-self: start;
}

.footer__social-icon {
  color: var(--fc-footer);
  padding: 0.5rem;
  border: 0.1rem solid var(--fc-footer);
  border-radius: 2rem;
}

.footer__social-icon:hover,
.footer__social-icon:focus-visible {
  color: var(--icon-clr-hover);
  border-color: var(--icon-clr-hover);
}

.footer__copyright-text {
  text-align: end;
}

/* media queries */

@media (max-width: 50em) {
  .grid-two-columns-hero,
  .grid-two-columns-main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .header {
    background-image: url(/images/bg-hero-mobile.svg);
  }

  .header__hero-wrapper {
    align-items: center;
    max-width: 100%;
    text-align: center;
  }

  .main__section-text-wrapper {
    text-align: center;
    max-width: 100%;
  }

  .main__section-text-wrapper {
    order: 1;
  }

  .grid-three-columns {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .footer__social-icons-wrapper {
    grid-column: span 2;
    justify-content: center;
  }

  .footer__copyright-text {
    text-align: center;
    margin-top: 1rem;
  }
}

@media (max-width: 40em) {
  .heading-secondary--align-center {
    text-align: center;
  }

  .footer__list {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .grid-three-columns {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;
  }

  .footer__social-icons-wrapper {
    grid-column: auto;
  }

  footer {
    padding: 10rem 2rem 2rem 2rem;
  }

  body {
    font-size: 1rem;
  }
}
